
<div class="container" id="home-flats">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">

    <% data.flats.each do |key, value| %>
    <div class="col-xs-12 col-sm-6 col-md-4 row-padding">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://kitt.lewagon.com/placeholder/cities/<%= value.city.downcase %>);">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= value.city %></h2>
          <p><%= value.description %></p>
          <p class="rating">
            <% value.rating.times do %>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <% end %>
            <% gs = 5 - value.rating %>
            <% gs.times do %>
            <i class="fa fa-star" style="color: grey"></i>
            <% end %>
          </p>
        </div>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{key}",
        class:"card-user" %>
        <%= link_to "", "flats/#{key}.html", class: "card-link" %>
      </div>
    </div>
    <% end %>

  </div>
</div>
